[Unit]
Description=keyboard backlight reflect CPU utilization

[Service]
Type=simple
ExecStart=/bin/python /usr/local/share/tuf-rgb-cpu.py

[Install]
WantedBy=multi-user.target
